# Ambiente
NODE_ENV=development

# Aplicação
APP_URL=http://localhost:3000

# Banco de dados
DATABASE_URL=

# Autenticação
AUTH_SECRET=

# Serviços externos
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=

